.customer-info
{
    max-width: 50%;
    word-wrap: break-word;
}

#unimplemented-cover-drawing
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}