#customer-form
{
    display: flex;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: transparent;
}

#name-info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 2vh;

    border-radius: 0.5vh;
}

#address-info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 2vh;

    border-radius: 0.5vh;
}

#email-input
{
    flex-grow: 8;
}

#state-input
{
    flex-grow: 0.2;
}

#zipcode-input
{
    flex-grow: 0.1;
}