#topbar
{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    height: 50px;
    flex-shrink: 0;

    background-color: var(--background-secondary);
}

#left
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    aspect-ratio: 1;
}

#center
{
    display: flex;

    height: 100%;
    width: 100%;
}

#right
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    aspect-ratio: 1;
}