#topbar
{
    user-select: none;
    
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    height: 50px;
    flex-shrink: 0;

    background-color: var(--background-secondary);
}

#left
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    aspect-ratio: 1;
}

#center
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

#right
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    aspect-ratio: 1;
}

.topbar-button
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 75%;
    padding: 0.25rem;

    background-color: transparent;
    color: var(--text-muted);

    border: none;
    border-radius: 4px;
}

.topbar-button *
{
    font-size: 2rem;
}

.topbar-button:hover
{
    color: var(--text-normal);
    background-color: var(--background-tertiary);
}

@media print
{
    #topbar
    {
        display: none;
    }
}