.search-bar-wrapper
{
    display: flex;
    flex-direction: row;

    border: none;
    color: var(--text-normal);
    background-color: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
    border-radius: 4px;
}

.search-bar-wrapper input
{
    width: 100%;

    color: var(--text-muted);

    border: none;
    background-color: transparent;
    margin: 4px 0px 4px 8px;

    border-right: 1px solid var(--background-tertiary);
}

.search-bar-wrapper button
{
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1;

    font-size: 2em;

    border: none;
    border-radius: 4px;
    
    background-color: transparent;
    color: var(--text-muted);

    
}

.search-bar-wrapper button:hover
{
    background-color: var(--background-accent);
}

.search-bar-wrapper input:focus
{
    outline: none;
}