.large-selection-button
{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    font-size: 2em;

    cursor: pointer;
    border: none;
    background-color: var(--background-secondary);
    color: var(--text-muted);
}

.large-selection-button:hover
{
    background-color: var(--background-accent);
}