#settings
{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0px;

    font-size: 4em;
    aspect-ratio: 1;
    cursor: pointer;

    color: var(--background-tertiary);
    background-color: transparent;
    border: none;
}

#settings:hover
{
    color: var(--background-accent);
}