*:not(svg text)
{
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #a3a6aa;
    --text-disabled: #707174;
    --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*51.6%),52.2%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82%),73.9%);
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-secondary-alt: #292b2f;
    --background-tertiary: #202225;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-nested-floating: #2f3136;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --chat-background: #36393f;
    --chat-border: #202225;
    --chat-input-container-background: #36393f;
    --background-modifier-hover: rgba(79,84,92,0.4);
    --background-modifier-active: rgba(79,84,92,0.48);
    --background-modifier-selected: rgba(79,84,92,0.6);
    --background-modifier-accent: rgba(79,84,92,0.48);
    --info-positive-background: hsla(139,calc(var(--saturation-factor, 1)*47.3%),43.9%,0.1);
    --info-positive-foreground: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --info-positive-text: #fff;
    --info-warning-background: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --info-warning-foreground: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --info-warning-text: #fff;
    --info-danger-background: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --info-danger-foreground: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --info-danger-text: #fff;
    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text: #fff;
    --status-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --status-positive-text: #fff;
    --status-warning-background: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --status-warning-text: #000;
    --status-danger-background: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-danger-text: #fff;
    --status-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-positive: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --status-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --button-danger-background: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*56.3%),40.4%);
    --button-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.4%),35.1%);
    --button-danger-background-disabled: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-positive-background-hover: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.9%),22.2%);
    --button-positive-background-disabled: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-secondary-background: #4f545c;
    --button-secondary-background-hover: #686d73;
    --button-secondary-background-active: #72767d;
    --button-secondary-background-disabled: #4f545c;
    --button-outline-danger-text: #fff;
    --button-outline-danger-border: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --button-outline-danger-background: hsla(0,0%,100%,0);
    --button-outline-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-text-hover: #fff;
    --button-outline-danger-border-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.7%),48%);
    --button-outline-danger-text-active: #fff;
    --button-outline-danger-border-active: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-positive-text: #fff;
    --button-outline-positive-border: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --button-outline-positive-background: hsla(0,0%,100%,0);
    --button-outline-positive-background-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-text-hover: #fff;
    --button-outline-positive-border-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-positive-text-active: #fff;
    --button-outline-positive-border-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-brand-text: #fff;
    --button-outline-brand-border: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background: hsla(0,0%,100%,0);
    --button-outline-brand-background-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-text-hover: #fff;
    --button-outline-brand-border-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-brand-text-active: #fff;
    --button-outline-brand-border-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-primary-text: #fff;
    --button-outline-primary-border: #4f545c;
    --button-outline-primary-background: hsla(0,0%,100%,0);
    --button-outline-primary-background-hover: #4f545c;
    --button-outline-primary-text-hover: #fff;
    --button-outline-primary-border-hover: #4f545c;
    --button-outline-primary-background-active: #686d73;
    --button-outline-primary-text-active: #fff;
    --button-outline-primary-border-active: #686d73;
    --modal-background: #36393f;
    --modal-footer-background: #2f3136;
    --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
    --input-background: #202225;
    --input-placeholder-text: hsl(216,calc(var(--saturation-factor, 1)*2.1%),53.9%);
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-message-automod: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.05);
    --background-message-automod-hover: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --channels-default: #96989d;
    --channel-icon: #8e9297;
    --channel-text-area-placeholder: #72767d;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #40444b;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --spoiler-revealed-background: #292b2f;
    --spoiler-hidden-background: #202225;
    --android-navigation-bar-background: #121315;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: #202225;
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;

    --color-mineral: #6B6159;
    --color-dove: #7E8180;
    --color-cinnamon: #4A2F23;
    --color-mink: #765E49;
    --color-forest: #112D1D;
    --color-custom: #323136;
}

code 
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root
{
  display: flex;

  height: 100vh;
  width: 100%;
}

#page-container
{
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background-color: var(--background-primary);
}

#page-content
{
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;
  height: 100%;

  padding: 1rem;

  background-color: var(--background-primary);

  overflow-y: auto;
  overflow-x: none;
}

.p80-width
{
  width: 80%;
}

.p100-height
{
  height: 100%;
}

.center-content
{
  align-items: center;
}

.column
{
  flex-direction: column;
}

.flex
{
  display: flex;
}

.flex-row
{
  display: flex;
  flex-direction: row;
}

.margin-right-10
{
  margin-right: 10px;
}

.green-button
{
  display: flex;

  flex-shrink: 0;

  cursor: pointer;

  background-color: var(--info-positive-background);
  color: var(--info-positive-foreground);

  border: 1px solid var(--info-positive-foreground);
  border-radius: 4px;
}

.green-button:hover
{
  color: var(--info-help-text);
  background-color: var(--info-positive-foreground);
}

.green-button:focus
{
  outline: none;
}

.red-button
{
  display: flex;

  flex-shrink: 0;

  cursor: pointer;

  background-color: var(--info-danger-background);
  color: var(--info-danger-foreground);

  border: 1px solid var(--info-danger-foreground);
  border-radius: 4px;
}

.red-button:hover
{
  color: var(--info-help-text);
  background-color: var(--info-danger-foreground);
}

.red-button:focus
{
  outline: none;
}

.tall-button
{
  padding: 10px;
}

.labeled-input
{
    display: flex;
    flex-direction: column;
    min-width: 0px;
    margin: 5px;
    flex-grow: 2;

    color: var(--text-muted);
}

.labeled-input label
{
    white-space: nowrap;
    margin: 0px 0px 10px 2px;
}

.input-section
{
    display: flex;
    flex-direction: column;

    width: 80%;
    height: 100%;

    font-size: 1em;

    color: var(--text-muted);
}

#form-buttons
{
    display: flex;
    justify-content: center;
}

.input-section input
{
    padding: 5px;
    border-radius: 4px;

    border: none;
    color: var(--text-normal);
    background-color: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
}

.input-section select
{
    border-radius: 4px;

    height: 100%;

    border: none;
    color: var(--text-normal);
    background-color: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
}

.input-section select:focus
{
  outline: none;
}

.input-category
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 0px;
}

.input-section input:focus
{
    outline: none;
}

.small-button
{
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--background-secondary);
    color: var(--text-muted);
    cursor: pointer;
}

.small-button:hover
{
    background-color: var(--background-accent);
}

#form-buttons button
{
    margin: 10px;
}

::-webkit-scrollbar
{
    background-color: transparent;

    width: 10px;

    border-radius: 4px;
}

::-webkit-scrollbar-track 
{
    background: var(--background-primary);

    border-radius: 4px;
}

::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    background: var(--background-tertiary);
}

::-webkit-scrollbar-thumb:hover 
{
    background: var(--background-secondary);
}

.btn-custom
{
  color: var(--text-muted);
  background-color: var(--background-secondary);
}

.btn-custom:hover
{
  background-color: var(--background-accent);
}

.form-label
{
  color: var(--text-muted);
}

.form-control
{
  background-color: var(--background-secondary);
  color: var(--text-normal);
  border: 1px solid var(--background-tertiary);
}

.form-control:focus
{
  background-color: var(--background-secondary);
  color: var(--text-normal);
  border: 1px solid var(--background-tertiary);
  box-shadow: none;
}

.form-select
{
  background-color: var(--background-secondary);
  color: var(--text-normal);
  border: 1px solid var(--background-tertiary);
}

.form-select:focus
{
  background-color: var(--background-secondary);
  color: var(--text-normal);
  border: 1px solid var(--background-tertiary);
  box-shadow: none;
}

input[type="number"] 
{
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ 
  -webkit-appearance: none;
}

.form-check-label
{
  color: var(--text-muted);
}

.form-check-input
{
  cursor: pointer;
  background-color: var(--background-secondary);
  color: var(--text-normal);
  border: 1px solid var(--background-tertiary);
}

.form-check-input:focus
{
  border: 1px solid var(--background-tertiary);
  box-shadow: none;
}

.form-check-input:checked
{
  background-color: var(--button-positive-background);
  border: 1px solid var(--background-tertiary);
}

.page-title
{
    text-align: center;
    color: var(--text-muted);
}

.page-title h1
{
    margin: 1rem;
    font-size: 2rem;
}